{
  "scriptId": "PASTE_NEW_APPS_SCRIPT_ID_HERE",
  "rootDir": "src",
  "scriptExtensions": [
    ".js",
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}
